.promo {
    min-height: 100vh;
    padding-top: 205px;
    padding-bottom: 50px;
    position: relative;
    background: url("../img/mainbg.jpg") no-repeat 67% / cover;

    &__title {
        color: #fff;
        max-width: 530px;
        margin-top: 10px;
    }
    &__sub {
        color: #fff;
        position: relative;
        @include before_circle;
        padding-left: 10px;
        z-index: 2;
    }
    &__btns {
        margin-top: 25px;
        width: 250px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__link {
        text-decoration: none;
        color: #fff;
        font-weight: bold;
        // &:first-child {
        // &:hover {
        // color:
        // }
        // }
    }
}
