.panel {
    // position: absolute;
    bottom: 40px;
    margin-top: 20px;
    // margin-top: 430px;
    width: 450px;
    display: flex;

    justify-content: space-between;
    z-index: 3;
    align-items: center;
    &__divider {
        width: 120px;
        height: 3px;
        background-color: #fff;
    }
    &__text {
        color: #fff;
        font-weight: 700;
        font-size: 20px;
    }
    img {
        width: 30px;
    }
}
